h1
{
    color:hotpink;
    margin: 50px;
    text-align: center;
}

.s1 {
  margin: 3%;
}
.s2 {
  margin: 3%;
}
.s3 {
  margin: 3%;
}
.s4 {
  margin: 3%;
}
.s5 {
  margin: 3%;
}
.s6 {
  margin: 3%;
}

.titre {
  text-align: center;
  border: 2px solid hotpink;
  padding: 6px;

}
.lien {
  text-decoration: none;
  color:black;
}

.som {
    list-style-type: none;
    margin: 0%;
    padding: 0%;
    background-color: grey;
  }
  
  li {
    float: center;
  }
  
  li a {
    display: grid;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
  }
  
  li a:hover {
    background-color: hotpink;
  }
 
.explication {
  width: 65%;
  float: right;

}

.list {

  display: flex;
  -ms-flex-wrap: wrap;
  text-align: center;
  padding: 0 10% 0 10%;
}

.list .card {
  font-size: 0.9em;
  background-color: grey;
  padding: 15px;
  display: inline-block;
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  margin: 0 6px 20px 6px;
  -ms-flex-positive: 1;
  flex-grow: 1;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.card:hover {
  background-color: hotpink;
}

.pic {
  float: right;
}

.cote{
  float: right;
}

.explain {
  float: right;
  width: 45%;
}

@media screen and (max-width:800px) {
  body {
    background-color:black;
    color:white;
    font-size: 95%;
  }
  .liste {
    font-size: 75%;
    margin: -3px;
  }
  .list {
    flex-flow: column wrap;
  }
  img {
    width: 100px;
  }
  img.imgs {
    width: 130px;
  }
  img.ima {
    width: 180px;
  }
  img.imo {
    width: 150px;
  }
  img.ime {
    width: 280px;
  }
  img.imm {
    width: 200px;
  }
  img.imgg {
    width: 550px;
  }
  img.imn {
    width: 380px;
  }
  img.imge {
    width: 200px;
  }
}
